TELEGRAM_BOT_TOKEN=8570026592:AAGt2XI6TuFLvRVNZ6PS7Sgm93cA6HqVb9o
TELEGRAM_CHAT_ID=695391785
OPENAI_API_KEY=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
POLYMARKET_PRIVATE_KEY=3331b79b59fddbed43a150462e8de40b5ee28bd03b9ac338498742a3f36c67fb
ALCHEMY_RPC_URL=https://polygon-mainnet.g.alchemy.com/v2/n0zo-z-2_iPfnMGJ9sFmH
AUTO_BET_SIZE=5.0
AUTO_MIN_STRENGTH=MEDIUM
